@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@400;700;900&family=Open+Sans:wght@400;700&family=Poppins:wght@600&family=Tinos&display=swap');



body {
    background-color: black;
    margin: 0;
    margin-top: 37px;
    font-family: "Poppins";
    text-decoration: none;
}


.logog {
    padding-left: 61px;
}



.headerblock {
    background-image: url(img/header-bg.png);
    z-index: 99;
}



.head-img {
    width: 100%;
    
}

.navigacia {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    margin-right: 75px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: aliceblue;
    transition: color 0.1s linear;
}

.nav:hover {
    color: silver;
}



.right-side {
    margin-right: 54px;
}

.lup {
    margin-right: 52px;
    text-decoration: none;
}

.bag {
    text-decoration: none;
}

.main {
    padding-top: 67px;
    text-align: center;
    padding-bottom: 127px;
}

h2 {
    position: absolute;
	top	: 210px;
	left: 0;
	width: 100%;
    color: aliceblue;
    font-size: 128px;
}


.footer {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 50px;
}


@media(max-width: 970px) {
    .headerblock {
        display: block;
    }
}