@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


body {
    margin: 0 auto;
    background: #000000;
    border-radius: 5px;

}

.container {
    padding: 0 53px 0 60px;
}

.header {
    background: #313132;
}

.header-block {
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
    align-items: center;
}

a {
    text-decoration: none;
}

.nav {
    display: flex;
    gap: 0 40px;
}

.nav-link  {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF; 
    transition: opacity .2s ease;   
}

.nav-link:hover {
    color: #474752;
}

.right-content {
    display: flex;
    gap: 0 40px;

}

main {
    margin-top: 78px;
}

.main-text {
    position: absolute;
    left: 25%;
    top: 47%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 128px;
    line-height: 192px;
    text-align: center;
    color: #FFFFFF;
}

.footer-block {
    color: #FFFFFF;
    text-align: center;
    margin: 30px 0 30px 0;
}